*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}
.bannerbg{
background: linear-gradient(359deg,rgba(163, 191, 255, 1) 0%, rgba(145, 141, 235, 1) 32%);
    min-height: 300px;
}
.blue-blur {
  filter: blur(6px) hue-rotate(180deg) saturate(200%);
}
.blur-box {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.blur-box .bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(6px);
}

.blur-box .blue-layer {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 255, 0.3); /* blue color */
}

.bannercontainer{
    display: flex;

}
.content{
    position: relative;
    z-index: 1;
}